<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="addJoke.css" />
    <title>Add-Jokes</title>
  </head>
  <body>
    <div class="form-wrapper">
      <form method="POST" action="/add-joke">
        <label class="tags">Enter setup for joke...</label><br />
        <input
          type="text"
          placeholder="setup here"
          required
          name="setup"
        /><br /><br />
        <label class="tags">Enter punchline for joke...</label><br />
        <input
          type="text"
          placeholder="punchline here"
          required
          name="punchline"
        />
        <br /><br />
        <button type="submit">Add</button>
      </form>
    </div>
  </body>
</html>
