<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add-okes</title>
  </head>
  <body>
    <form method="POST" action="/add">
      <label>Enter setup for joke...</label>
      <input type="text" placeholder="setup here" required name="setup" />
      <label>Enter punchline for joke...</label>
      <input
        type="text"
        placeholder="punchline here"
        required
        name="punchline"
      />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
