body {
  background-color: rgb(99, 99, 243);
}
.form-wrapper {
  display: flex;
  justify-content: center;
  max-width: 22rem;
  margin: 5rem auto;
  background-color: aliceblue;
  padding: 1rem 0.5rem;
  border-radius: 11px;
}

.tags {
  font-size: 1.5rem;
  font-weight: 300;
}
input {
  height: 2rem;
  width: 15rem;
  padding: 0.5rem 0.25rem;
  font-size: 1.5rem;
  color: grey;
  border-radius: 4px;
  outline: none;
}
button {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: green;
  border: none;
  color: whitesmoke;
}
